* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity 0.9;
  text-align: center;
  box-sizing: border-box;
}

a {
  color: seashell;
}

h2 {
  margin: 15px 0px;
}

h4 {
  margin: 15px 0px;
}

/* div {
  border: 1px solid red;
} */

/****** Header ******/

header {
  display: flex;
  background-color: black;
  height: 69px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid seashell;
  width: 100%;
  /* z-index: 5; */
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  text-decoration: underline;
  margin-right: 10px;
}

nav span {
  margin-left: 30px;
}

/****** Mission ******/

.mission {
  margin-top: 69px;
  display: inline-flex;
  align-items: center;
  background-image: url("images/img-mission-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  height: 700px;
}

.missionbanner {
  width: 1200px;
  background-color: black;
  padding: 10px 0px;
}

/****** Tea of the Month ******/

.teaofthemonth {
  width: 1000px;
  margin: 50px auto;
}

.teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.teas p {
  margin-bottom: 10px;
}

.teas img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/****** Locations ******/

.locations {
  height: 500px;
  /* display: inline-flex; */
  /* align-items: center; */
  background-image: url("images/img-locations-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

.locationblocks {
  justify-content: center;
  display: flex;
  /* margin: auto; */
  /* background-color: black; */
}

.block {
  background-color: black;
  margin: 5px 20px 0px 20px;
  width: 300px;
  height: 300px;
  opacity: 1;
  /* display: block; */
  /* align-content: space-around; */
}

/****** Contact ******/

.contact {
  height: 200px;
  display: block;
}

.contact h5 {
  margin: 30px 0px;
}

/****** Footer ******/

footer {
  text-align: left;
  margin: 20px;
}
