* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity 0.9;
  text-align: center;
  box-sizing: border-box;
}

a {
  color: seashell;
}

h2 {
  margin: 15px 0px;
}

h4 {
  margin: 15px 0px;
}

/****** Header ******/

header {
  display: flex;
  background-color: black;
  height: 69px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid seashell;
  width: 100%;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  text-decoration: underline;
  margin-right: 10px;
}

nav span {
  margin-left: 30px;
}

/****** Mission ******/

.mission {
  margin-top: 69px;
  display: inline-flex;
  align-items: center;
  background-image: url("images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

.missionbanner {
  width: 1200px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

/****** Tea of the Month ******/

.teaofthemonth {
  width: 1000px;
  margin: auto;
  padding-top: 69px;
}

.teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.teas p {
  margin-bottom: 10px;
}

.teas img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/****** Locations ******/

.locations {
  height: 500px;
  width: 1200px;
  background-image: url("images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locationblocks {
  justify-content: center;
  display: flex;
}

.block {
  background-color: black;
  margin: 5px 20px 0px 20px;
  width: 300px;
  height: 300px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/****** Contact ******/

.contact {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.contact h5 {
  margin: 15px 0px;
}

/****** Footer ******/

footer {
  text-align: left;
  margin: 20px;
}
